//color variables
$bg: #fff;
$secondary: rgb(176, 174, 174);
$secondary-background: rgb(203, 201, 201);
$menu: rgb(192, 103, 44);
$logo: rgb(6, 139, 30);

//font variables
$h1: 3rem;
$h2: 2rem;
$text: serif;