//color variables
$bg: #fff;
$secondary: rgb(176, 174, 174);
$secondary-background: rgb(203, 201, 201);
// $menu: rgb(192, 103, 44);
$menu: #8d5e2f;
$logo1: rgb(6, 139, 30);
$background2: #f6f6f6;
$logo: maroon;
$text_color: rgb(99, 99, 99);

$color1-green: #c6c17e;
$color-green: #ecebd5;
$color2-gray: #a1acb0;
$color3-brown: #bf7828;
$footer-bg: #caae8f;

//font variables
$h1: 3rem;
$h2: 2rem;
$text: serif;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Montserrat:wght@600;800&family=Passions+Conflict&family=Poppins:wght@400;500;600;700;800&display=swap');


//buttons
@mixin button {
    background: none;
    padding: 10px 2rem;
    border-radius: 20px;
    color: $bg;
    cursor: pointer;
    font-weight: bolder;
    border: 1px solid $bg;
    font-size: 1rem;
    margin-top: 1.5rem;
}

@mixin hover {
    transform: scale(120%);
    transition: .5s ease-in-out;
    color: black;
    background: $bg;
}