@import '../Header/variables.scss';

.title {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    &::after {
        content: "";
        display: block;
        border: 1px solid black;
        width: 5%;
        margin: 10px auto;
    }
}
.services__container {
    height: 120px;
    // width: 20px;
    margin: 0rem 10rem;
    // padding: 20px;
    // background-color: #f6f6f6;
    background: $color-green;
    border-radius: 2px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 2px gray;
    background-image: url(../../images/bg4.jpg);
    background-size: cover;
    margin-bottom: -60px;
    z-index: 99;
    position: relative;

    .service {
        
        display: flex;
        padding: 20px;
        border-right: 1px solid white;
        .image {
            padding: 12px;
            padding-right: 20px;
        }

        .text{
            font-family: $text;
            font-size: 1.2rem;
            padding: 20px;
            p {
                // color: $bg;
                font-weight: 600;
            }
            .services {
                font-size: 1rem;
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
                .arrow {
                    // color: $bg;
                    transition: .3s ease-in-out;
                    &:hover {
                        transform: translateX(5px);
                    }
                }

                .arrow {
                   padding-left: 5px;
                   font-size: 25px;
                }
            }
        }
    }
    #last {
        border-right: none;
    }
}
footer {
    // margin-top: -50px;
    // position: absolute;
    color: black;
    font-family: $text;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    
        
    // transform: translateY(50%);
    .main__footer {
        padding: 20px;
        padding-top: 100px;
        // background: lightgray;
        max-width: 100%;
        display: flex;
        justify-content: center;
        // background: $color1-green;
        background: #f6f6f6;
        z-index: 9;
        

        .col {
            width: 400px;
            padding-right: 6rem;
            padding-left: 6rem;
            .nav {
                text-decoration: none;
            }
            h3 {
                font-size: 1.3rem;
                line-height: 2rem;
            }
            p, li{
                margin-bottom: 10px;
                line-height: 1.5rem;
                list-style: none;
                p{
                    padding-left: 30px;
                }

                a{
                    color: black;
                    // transition: all .3s ease-in-out;
                    &:hover {
                        color: $logo;
                    }
                }
                h3 {
                    display: flex;
                    align-items: center;
                }
                .social__icons {
                    font-size: 30px;
                    color: $menu;
                    padding-right: 5px;
                }
                
            }
        }
    }
    .social {
        display: flex;
        align-items: center;
        padding-left: 2rem;
        border-top: 1px solid $color2-gray;
        border-bottom: 1px solid $color2-gray;
        h3 {
            margin-right: 20px;
        }
        .row {
            margin: 15px;

            .media {
                font-size: 1.5rem;
                color: $menu;
                background-color: $bg;
                cursor: pointer;
                &:hover {
                    color: $bg;
                    background-color: $menu;
                    border-radius: 50%;
                    border: none;
                }
            }
        }
        
    }
    .copy {
        padding: 15px;
        text-align: center;
        background: #f6f6f6;
    }
}

