//color variables
$bg: #fff;
$secondary: rgb(176, 174, 174);
$secondary-background: rgb(203, 201, 201);
$menu: rgb(192, 103, 44);
$logo: rgb(6, 139, 30);

$color1-green: #c6c17e;
$color2-gray: #a1acb0;
$color3-brown: #bf7828;