//color variables
$bg: #fff;
$secondary: rgb(176, 174, 174);
$secondary-background: rgb(203, 201, 201);
$menu: rgb(192, 103, 44);
// $logo: rgb(6, 139, 30);

$color1-green: #c6c17e;
$color2-gray: #a1acb0;
$color3-brown: #bf7828;

$color1: red;
$color2: rgb(244, 74, 74);
$color3: rgb(245, 117, 117);
$color4: rgb(244, 174, 174);
$color5: rgb(247, 205, 205);
$color6: green;
$color7: rgb(52, 144, 52);
$color8: rgb(59, 169, 59);
$color9: rgb(17, 192, 17);
$color10: rgb(18, 227, 18);
$color11: purple;
$color12: rgb(159, 21, 159);
$color13: rgb(197, 25, 197);
$color14: rgb(217, 43, 217);
$color15: rgb(225, 134, 225);
$color16: brown;
$color17: rgb(193, 81, 81);
$color18: rgb(210, 89, 89);
$color19: rgb(226, 114, 114);
$color20: rgb(221, 144, 144);