@import './components/Header/variables.scss';

.gallery__cont {
    display: flex;
    margin: 1.5rem;
    justify-content: center;
    .card {
            display: flex;
            justify-content: center;
            min-width: 50rem;
            background: whitesmoke;
            margin-top: 20px;
        .image {
            height: 140px;
            // width: 350px;
            width: 445px;
            padding: 1rem;
            img {
                height: 100%;
                // width: 100%;
            }
        }
        .content {
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            .title__price{
                display: flex;
                align-items: center;
                // background: white;
                position: relative;
                h3 {
                    text-transform: uppercase;
                    color: $logo;
                }
                h4 {
                    padding-left: 10px;
                    color: $logo;
                }
                .btn_service {
                    cursor: pointer;
                    height: 3rem;
                    width: 10rem;
                    border: 1px solid $text_color;
                    background: $bg;
                    // padding: 1rem;
                    // margin-left: 20px;
                    position: absolute;
                    // position: fixed;
                    top: -15px;
                    right: 10px;
                    color: $menu;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    transition: .3s ease-in-out;
                    &:hover {
                        background: $logo;
                        color: $bg;
                    }
                }
            }
            
            p {
                font-size: 1rem;
                margin-top: 1rem;
                color: $text_color;
            }
            
            
        }
    }
    
}